@use "../meta" as *;

form {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 2rem;
    background-color: $translucent;
    border-radius: 12px;
    box-shadow: 1px 4px 4px $shadow;

    @include responsive($mobile-size) {
        width: 100%;
        padding: 1.5rem;
        border-radius: 8px;
    }
}