@use "../meta" as *;

form {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 1.75rem;
    background-color: $accent;
    border-radius: 8px;
    box-shadow: 0 2px 4px $shadow;
}